<style>
  body{
    background-color:lightgrey;
  }

  th{
    padding: 20px;
  }
</style>

{% extends 'base.html' %}

 {% block content %}

  <body>
    
  <h1>Your To-Do List</h1>

  <table>
    <tr>
      <th>Tanggal Pembuatan Task</th>
      <th>Judul Task</th>
      <th>Deskripsi</th>
      <th>Status</th>
      <th>Ubah status</th>
      <th>Hapus</th>
    </tr>

    {% for todo in todolist_list %}
    <tr>
      <th>{{todo.date}}</th>
      <th>{{todo.title}}</th>
      <th>{{todo.description}}</th>
      <th>
        {% if todo.is_finished %}
        Selesai
        {% else %}
        Belum selesai
        {% endif %}
      </th>
      <th><button><a href="{% url 'todolist:set_status' todo.id %}">Ubah</a></button></th>
      <th><button><a href="{% url 'todolist:delete_task' todo.id %}">Hapus to-do</a></button></th>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>

  <button class="btn btn-addtask"><a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a></button>

  <button class="btn btn-logout"><a href="{% url 'todolist:logout' %}">Logout</a></button>

  <!-- <h5>Sesi terakhir login: {{ last_login }}</h5> -->
  </body>
  {% endblock content %}
