{% extends 'base.html' %}

{% block meta %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
{% endblock meta %}


{% block content %}

 
 <script>

  async function getTodo() {
    return fetch("{% url 'todolist:show_json' %}").then((res) => res.json())
  }

  async function refreshTodolist() {
      
        const todo = await getTodo();
        console.log("TESSSSSSSS" + " " + todo + " aa");
        let htmlString = ''
        todo.forEach((item) => {
          htmlString += `\n
          <div class="flex-container justify-content-center align-self-center d-flex h-100""">
            <div class="card" style="width: 18rem;">
              <img src="https://tse1.mm.bing.net/th?id=OIP.lR17CZXTy9_eI8zq4t6fUAHaEK&pid=Api&P=0" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">${item.fields.title}</h5>
                <p class="card-title">${item.fields.description}</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Tanggal pembuatan: ${item.fields.date}</li>
                <li class="list-group-item"> Status: ${item.fields.is_finished ? "Finished" : "Unfinished"} </li>
              </ul>
              <div class="card-body">
                <a href="set-status/${item.pk}" class="card-link">Ubah</a>
                <button type="button" id="button-delete" class="btn btn-primary" onclick="deleteTodo(${item.pk})">Delete</button>
              </div>
            </div>
          </div>
          ` 
        })
        document.getElementById("content").innerHTML = htmlString
  }

  function addTodo() {
    console.log("TES")
    fetch("{% url 'todolist:add_task' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(refreshTodolist)
    return false
  }

  function deleteTodo(todoPK) {
    console.log("TESzzz")
    fetch(`/todolist/delete/${todoPK}`, {
      method: "GET",
      }
      ).then(refreshTodolist)
    return false
  }


  refreshTodolist()  
  // document.getElementById("addbtn").onclick = addTodo

  // function showModal(){
  //   document.getElementById("#button").show(document.getElementById("#staticBackdrop"));
  
  // }
  // $('#btn').on('click', function(){
  //   $('#staticBackdrop').modal('show');
  // });


  </script>

  <body>

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Your To-Do List</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://cata-log.herokuapp.com/todolist">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'todolist:create_task' %}">Create-Task</a>
            </li>
            <li class="nav-item">
              <a class="nav-link logout" href="{% url 'todolist:logout' %}">Logout</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search To-Do</button>
          </form>
        </div>
      </div>
    </nav>

    <br>

    <div id="content">
    </div>

<!-- Button trigger modal -->
    <div class="text-center">
      <button type="button" id="button-modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Add Task
      </button>
    </div>

<!-- Modal -->
    <div class="modal fade" id="staticBackdrop" role="dialog" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add your new task </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form" method="POST" onsubmit="return false;">
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title" class="col-form-label">Title:</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                    <label for="description" class="col-form-label">Description:</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" id="addbtn" class="btn btn-primary" onclick="addTodo()">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  <!-- <h5>Sesi terakhir login: {{ last_login }}</h5> -->
  </body>

  {% endblock content %}