.body-root{
    background-image: linear-gradient(to right, rgb(94, 87, 87) , white);
}

.flex-container{
    margin:10px;
}

.navbar{
    background-color: rgb(31, 31, 31);
}


.card{
    text-align: center;
    align-content: center;
    padding: 10px;
}

.judul{
    text-align: center;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:60px;
}

.register-container{
    margin: 20px;
    padding: 20px;
}

td{
    justify-content: center;
}

.card:hover{
    opacity: 0.8;
}


